@import "site-header.css";
@import "site-footer.css";
@import "site-navigation.css";
@import "site-navigation-offcanvas.css";
@import "nav.css";
@import "layout.css";
@import "articles.css";
@import "content-page.css";
@import "pagination.css";

:root {
  /* --color-brand-primary: #059962; */
  --color-brand-primary: hsl(158,94%,31%);
  --color-brand-secondary: #0d544e;

  --color-background-default: hsl(0,0%,98%);
  --color-background-2: hsl(0,0%,100%);
  --color-background-3: hsl(0,0%,94%);

  --color-content-default: rgba(0,0,0,0.7);
  --color-content-contrast: rgba(0,0,0,1);
  --color-content-muted: rgba(0,0,0,0.6);
  --color-content-nonessential: rgba(0,0,0,0.4);

  --color-intent-highlight: var(--color-brand-primary);
  --color-special-rss: hsl(24, 50%, 100%);

  --color-keyline-default: hsla(0,0%,0%,4%);
  --color-shadow-default: hsla(0,0%,0%,4%);

  --font-stack-default: system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-stack-brand: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  --font-stack-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace`;
  --font-stack-code: Consolas,monospace,serif;

  --letter-spacing-default: normal;

  --line-height-loose: 1.6;
  --line-height-default: 1.4;
  --line-height-tight: 1.2;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-text-xl: 18px;
  --font-size-text-lg: 16px;
  --font-size-text-default: 14px;
  --font-size-text-sm: 12px;
  --font-size-text-xs: 10px;

  --font-size-page-title: 40px;
  
  --font-size-heading-lg: 38px;
  --font-size-heading-default: 36px;
  --font-size-heading-sm: 32px;
  
  --font-size-subheading-sm: 20px;
  --font-size-subheading-default: 18px;
  --font-size-subheading-lg: 16px;

  --font-size-item-title-lg: 16px;
  --font-size-item-title-default: 14px;
  --font-size-item-title-sm: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-default: hsl(158,10%,5%);
    --color-background-2: hsl(158,10%,7%);
    --color-background-3: hsl(158,10%,11%);

    --color-content-default: hsla(0,0%,100%, 0.7);
    --color-content-contrast: hsla(0,0%,100%, 0.9);
    --color-content-muted: hsla(0, 0%, 100%, 0.55);
    --color-content-nonessential: hsla(0, 0%, 100%, 0.4);

    --color-keyline-default: hsla(0,0%,100%,6%);
    --color-shadow-default: transparent;

    --letter-spacing-default: normal;
  }
}



/* Base style */

html, body {
  background: var(--color-background-default);
  color: var(--color-content-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
  font-size: var(--font-size-text-default);
  font-family: var(--font-stack-default);
  letter-spacing: var(--letter-spacing-default);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  transition-property: color, background, opacity, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  box-sizing: border-box;
}

*:hover,
*:focus {
  transition-duration: 0.15s;
}

*:active {
  transition-duration: 0;
}

*:before,
*:after {
  transition: inherit;
}

a {
  color: var(--color-intent-highlight);
}

a:hover {
  color: var(--color-intent-highlight);
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: var(--font-stack-brand);
  font-weight: var(--font-weight-semibold);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

em {
  color: inherit;
}

pre {
  background-color: var(--color-background-3);
  color: var(--color-content-default);
  font-family: var(--font-stack-code);
}