@import "layout.css";
@import "articles.css";
@import "footer.css";
@import "header.css";
@import "nav.css";
@import "pagination.css";

:root {
  --color-brand-primary: #42937C;
  --color-brand-secondary: #0d544e;

  --color-background-default: hsl(0,0%,100%);
  --color-background-2: hsl(0,0%,97%);
  --color-background-3: hsl(0,0%,94%);

  --color-content-default: rgba(0,0,0,0.85);
  --color-content-contrast: rgba(0,0,0,1);
  --color-content-muted: rgba(0,0,0,0.6);
  --color-content-nonessential: rgba(0,0,0,0.3);

  --color-intent-highlight: var(--color-brand-primary);

  --color-keyline-default: hsla(0,0%,0%,8%);

  --font-stack-default: system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-stack-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace`;

  --line-height-looses: 1.6;
  --line-height-default: 1.4;
  --line-height-tight: 1.2;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-text-xl: 18px;
  --font-size-text-lg: 16px;
  --font-size-text-default: 14px;
  --font-size-text-sm: 12px;
  --font-size-text-xs: 10px;
}

/* Base style */

html {
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
  font-size: var(--font-size-text-default);
  font-family: var(--font-stack-default);
}

a {
  color: var(--color-intent-highlight);
}

a:hover {
  color: var(--color-intent-highlight);
}


.uk-icon-twitter {
  color: #00B0ED;
}

.uk-icon-facebook, .uk-icon-facebook-square {
  color: #3B5999;
}

.uk-icon-google-plus, .uk-icon-google-plus-square {
  color: #D34836;
}

.uk-icon-github {
  color: #333;
}

.uk-icon-envelope {
  color: #444;
}



.uk-icon-medium {
  margin-right: 0.3em;
}



.mg-brand {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 2.5em;
  padding-left: 0;
  color: white;
  text-decoration: none;
}
.mg-brand:hover, .mg-brand:focus {
  color: white;
}
@media (max-width: 767px) {
  .mg-brand {
    padding: 0;
    max-width: 100%;
    font-size: 2em;
  }
}

.mg-tagline {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 1em 0 0;
  color: white;
}
@media (min-width: 1220px) {
  .mg-tagline {
    padding-left: 0 !important;
  }
}

.mg-main {
  margin-top: 4em;
  margin-bottom: 3em;
  min-height: 100%;
}

.mg-container-social {
  font-family: "Oswald";
}

.mg-feed {
  color: #FF6600;
}
.mg-feed:hover {
  text-decoration: none;
  color: #FF6600;
}

.mg-list-title {
  font-size: 2em;
  line-height: 42px;
  font-weight: 400;
  text-transform: none;
  margin-top: 0.5em;
}

.mg-author {
  margin-top: 1em;
}

.mg-icon-link:hover {
  text-decoration: none;
}

.mg-icons-small {
  margin-bottom: 1em;
}

.mg-icons-small > li > a {
  color: white;
}
.mg-icons-small > li > a:hover {
  color: white;
}
.mg-icons-small .uk-icon-rss {
  background-color: #FF6600;
}
.mg-icons-small .uk-icon-twitter {
  background-color: #00B0ED;
}
.mg-icons-small .uk-icon-facebook {
  background-color: #3B5999;
}
.mg-icons-small .uk-icon-google-plus {
  background-color: #D34836;
}
.mg-icons-small .uk-icon-github {
  background-color: #333;
}
.mg-icons-small .uk-icon-envelope {
  background-color: #059;
}

.mg-badges li {
  float: left;
  position: relative;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

em {
  color: black !important;
}
