@import "site-header.css";
@import "site-footer.css";
@import "site-navigation.css";
@import "nav.css";
@import "layout.css";
@import "articles.css";
@import "content-page.css";
@import "pagination.css";

:root {
  --color-brand-primary: #5AB031;
  --color-brand-secondary: #0d544e;

  --color-background-default: hsl(0,0%,100%);
  --color-background-2: hsl(0,0%,97%);
  --color-background-3: hsl(0,0%,94%);

  --color-content-default: rgba(0,0,0,0.85);
  --color-content-contrast: rgba(0,0,0,1);
  --color-content-muted: rgba(0,0,0,0.6);
  --color-content-nonessential: rgba(0,0,0,0.3);

  --color-intent-highlight: var(--color-brand-primary);
  --color-special-rss: #FF6600;

  --color-keyline-default: hsla(0,0%,0%,8%);

  --font-stack-default: system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-stack-brand: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  --font-stack-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace`;

  --line-height-loose: 1.6;
  --line-height-default: 1.4;
  --line-height-tight: 1.2;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-text-xl: 18px;
  --font-size-text-lg: 16px;
  --font-size-text-default: 14px;
  --font-size-text-sm: 12px;
  --font-size-text-xs: 10px;
}

/* Base style */

html {
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
  font-size: var(--font-size-text-default);
  font-family: var(--font-stack-default);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  transition-property: color, background, opacity, border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  box-sizing: border-box;
}

*:hover,
*:focus {
  transition-duration: 0.15s;
}

*:active {
  transition-duration: 0;
}

*:before,
*:after {
  transition: inherit;
}

a {
  color: var(--color-intent-highlight);
}

a:hover {
  color: var(--color-intent-highlight);
}

.mg-feed {
  color: var(--color-special-rss);
}
.mg-feed:hover {
  text-decoration: none;
  color: var(--color-special-rss);
}

.mg-list-title {
  font-size: 2em;
  line-height: 42px;
  font-weight: 400;
  text-transform: none;
  margin-top: 0.5em;
}

.mg-icon-link:hover {
  text-decoration: none;
}

.mg-icons-small {
  margin-bottom: 1em;
}

.mg-icons-small > li > a {
  color: white;
}
.mg-icons-small > li > a:hover {
  color: white;
}
.mg-icons-small .uk-icon-rss {
  background-color: var(--color-special-rss);
}

.mg-badges li {
  float: left;
  position: relative;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
