/* Site Navigation */


/* Local Variables */
.site-navigation {
  --horizontal-padding: 1rem;
  --vertical-padding: 0.4rem;
  --nav-highlight-color: var(--color-intent-highlight);
  --nav-highlight-radius: 11px;
}

.site-navigation { 
  width: 100%;
}

.site-navigation hr {
  border: 0;
  border-top: 1px solid var(--color-keyline-default);
}

.site-navigation h2 {
  padding: 0 var(--horizontal-padding);
  font-size: inherit;
  margin: 0;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-text-sm);
  color: var(--color-content-nonessential);
  letter-spacing: 0.3ch;
}

.site-navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.site-navigation li {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  margin: 1px 0 0;
}
  
.site-navigation a {
  color: inherit;
  text-decoration: none;
  padding: var(--vertical-padding) var(--horizontal-padding);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.site-navigation .active {
  color: var(--color-background-default);
  font-weight: var(--font-weight-bold);
}

.site-navigation a:hover,
.site-navigation a:focus {
  filter: brightness(115%);
}
.site-navigation a:active {
  filter: brightness(110%) contrast(110%);
}

.site-navigation a:after {
  transition: all .3s ease;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: var(--nav-highlight-color);
  border-radius: var(--nav-highlight-radius);
}

.site-navigation a.active:after {
  opacity: 1;
}

.site-navigation li a ~ a {
  opacity: 0.8;
  position: relative;
  z-index: 10;
  padding-left: 0;
  margin-left: auto;
  flex: 0 0 auto;
}

.site-navigation li a ~ a:after {
  display: none;
}

.site-navigation hr {
  margin: var(--vertical-padding) var(--horizontal-padding);
}