/* Site Header */


.site-header {
  padding: 1rem 0;
  color: var(--color-content-muted);
  /* background-color: var(--color-background-2); */
  font-family: var(--font-stack-brand);
  border-top: 4px solid var(--color-brand-primary);
}

.site-header > .uk-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.uk-navbar-brand {
  text-transform: uppercase;
}

.mg-brand:before {
  content: none;
}

.mg-tagline {
  color: var(--color-content-default);
  margin: 0;
}

.mg-header a {
  color: var(--color-content-default);
}

.mg-brand img {
  border-radius: 1000px;
  border: 1px solid var(--color-keyline-default);
  position: relative;
  top: -2px;
}

.mg-brand {
  font-size: 2.5em;
  padding-left: 0;
}

@media (max-width: 767px) {
  .mg-brand {
    padding: 0;
    max-width: 100%;
    font-size: 2em;
  }
}

.mg-tagline {
  /* font-family: "Open Sans", sans-serif; */
  /* font-weight: 800; */
  /* padding: 1em 0 0; */
  /* color: white; */
}
@media (min-width: 1220px) {
  .mg-tagline {
    padding-left: 0 !important;
  }
}