{% extends "base.html" %}
{% block title %}Categories{% endblock %} 
{% block description %}{% endblock %}

{% include 'common_seo.html' %}

{% block content %}
<div class="uk-width-medium-4-5">
    <h1 class="uk-heading-large">Categories</h1>
    {% for category, articles in categories %}
    <h2><a href="{{ SITEURL}}/{{ category.url}}" class="uk-link-muted">{{ category|capitalize }}</a></h2>
        {% for article in articles %}
            {% include 'article-listing.html' %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
