
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
  <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="{{ FAVICON_TYPE }}">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="copyright" content="{{ AUTHOR }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}" />
  <meta property="og:site_name" content="{{ SITENAME }}" />

  {% block seo %}
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}" />
  <meta name="twitter:url" content="{{ SITEURL }}" />
  <meta itemprop="name" content="{{ SITENAME }}" />
  <meta itemprop="url" content="{{ SITEURL }}"/>
  {% if DESCRIPTION %}
  <meta property="og:description" content="{{ DESCRIPTION }}" />
  <meta name="twitter:description" content="{{ DESCRIPTION }}" />
  <meta itemprop="description" content="{{ DESCRIPTION  }}" />
  {% endif %}
  {% if META_IMAGE %}
  <meta property="og:image" content="{{ META_IMAGE }}" />
  <meta property="og:image:type" content="{{ META_IMAGE_TYPE }}" />
  <meta name="twitter:image" content="{{ META_IMAGE }}" />
  <meta itemprop="image" content="{{ META_IMAGE }}" />
  {% endif %}
  {% endblock %}
  <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/uikit.min.css">
  {% if not DISABLE_SEARCH %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/components/search.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/tipuesearch.css">
  {% endif %}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/solarized.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>

