{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="uk-width-medium-4-5">

{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}

    <article class="uk-article" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">
        <a href="{{ SITEURL }}/{{ article.url }}" class="uk-article-title uk-link-muted" itemprop="name">{{ article.title }}</a>
        <p class="uk-article-lead" itemprop="description">{{ article.summary|striptags }}</p>
        <p class="uk-article-meta"><time datetime="{{ article.date.strftime('%Y-%m-%d') }}" itemprop="datePublished">{{ article.locale_date }}</time> • <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>{% if DISQUS_SITENAME %} • <br class="uk-visible-small"><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" itemprop="discussionUrl"><i class="uk-icon-comment"></i> </a>{% endif %}</p>
</p>
        <section itemprop="articleBody">{{ article.content }}<a href="https://mybinder.org/v2/gh/computableai/computableai.github.io/dev?filepath={{article.source_path.split('/')[-3:] | join('/') }}"><img src="https://mybinder.org/badge_logo.svg" alt="Launch in Binder" /></a></section>
        <hr class="uk-article-divider">
    </article>

{% endfor %}
{% if DEFAULT_PAGINATION  and articles_paginator.num_pages > 1 %}
    <ul class="uk-pagination">
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><i class="uk-icon-angle-double-left"></i></a></li>{% endif %}
        {% if articles_previous_page %}<li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">{{ articles_previous_page.number }}</a></li>{% endif %}
        <li class="uk-active"><span>{{ articles_page.number }}</span></li>
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}"><i class="uk-icon-angle-double-right"></i></a></li>{% endif %}
        {% if articles_next_page %}<li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">{{ articles_next_page.number }}</a></li>{% endif %}
    </ul>
{% endif %}

{% endif %}
</div>
{% endblock %}
