

<div id="mg-offcanvas" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">

      {% if not DISABLE_SEARCH %}
      <form class="uk-search" action="search.html" data-uk-search>
          <input class="uk-search-field" type="search" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search...">
      </form>
      {% endif %}

      <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
          <li class="uk-nav-header">Categories</li>
          {% for cat, _ in categories %}
          <li {% if cat == category %}class="uk-active"{% endif %}>
            <a rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/feeds/{{ cat.slug }}.atom.xml" class="mg-feed" style="float:right"><i class="uk-icon-rss uk-icon-tiny"></i></a>
            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
          </li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU != False %}
          <li class="uk-nav-header">Pages</li>
          {% for p in pages %}
          <li {% if p == page %}class="uk-active"{% endif %}>
              <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
          </li>
          {% endfor %}
          {% endif %}

          <li class="uk-nav-header">Other</li>
          <li><a type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">All Feed</a></li>
          {% if SOCIAL %}
          {% for icon, link in SOCIAL %}
          <li>
            <a href="{{ link }}">{{ icon | capitalize }}</a>
          </li>
          {% endfor %}
          {% endif %}

          <li class="uk-nav-divider"></li>
          <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>

      </ul>
  </div>
</div>