<header class="site-header">

    <div class="uk-container uk-container-center">

        <a class="mg-brand uk-navbar-brand uk-hidden-small" href="{{ SITEURL }}">
          <!-- <img src="{{ SITEURL }}/theme/images/MarkWhite.png" height=40 width=40 /> -->
          <img src="{{ SITEURL }}/theme/images/logo-disc.png" height=50 width=50 />
          {% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}
        </a>

        <p class="mg-tagline uk-hidden-small">{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</p>

        <a class="uk-navbar-toggle uk-visible-small" href="#mg-offcanvas" data-uk-offcanvas></a>

        <a class="mg-brand uk-navbar-brand uk-navbar-center uk-visible-small" href="{{ SITEURL }}">
          <img src="{{ SITEURL }}/theme/images/logo-disc.png" height=50 width=50 />
          {% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}
        </a>

    </div>

</header>